.home-container {
    display: flex;
    margin: 30px 200px;
}

.text-container {
    width: 600px;
    margin-top: 50px;
}

.tagline-first {
    color: rgba(0, 0, 0, 0.874);
}

.tagline-second {
    color: rgba(0, 0, 255, 0.779);
    font-size: 25px;
}

.home-text {
    font-size: 18px;
}

.image-container {
    margin-left: 100px;
}

.image-container img {
    width: 500px;
}

.live-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 0, 255, 0.796);
    background-color: rgba(0, 0, 255, 0.069);
}

.live-btn:hover {
    background-color: rgba(0, 0, 255, 0.276);
}

.home-review-container {
    margin-top: 50px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 50px;
}

.see-all-btn {
    color: white;
    background-color: rgba(0, 0, 255, 0.749);
    font-size: 16px;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}