.header {
    margin-top: 20px;
}

.link {
    text-decoration: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.831);
}

.active-link {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: rgba(128, 0, 0, 0.785);
}